spring:
  datasource:
    url: jdbc:mysql://localhost:3306/promptmate
    username: root
    password: suji1004!

  profiles:
    include: local

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true